@using ServiceLayer.ViewModels.IdentityViewModels
@model UserInfoForUserPanelViewModel
@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}






    <section class="cta section-padding">
        <div class="container">
           
        </div>
    </section>




<div class="popup" id="editUserInfo-popup">
    <h3>ویرایش اطلاعات کاربری</h3>
    <div class="popup-form">
        <form id="editUserInfo-form">

            <div class="form-field">
                <input hidden id="editUserId" asp-for="UserId" />
            </div>
            <div class="form-field">
                <input type="text" id="editDisplayName" name="DisplayName" placeholder="نام و نام خانوادگی">
            </div>
            
            <div class="form-field">
                <input hidden id="editRegisterTime" asp-for="RegisterTime" />
            </div>
            <div class="form-field">
                <input hidden id="editPhoneNumber" asp-for="PhoneNumber">
            </div>

            <button type="submit" class="btn2">ویرایش</button>
        </form>
    </div>
</div>

    <section>

    <div class="content">
        <div class="dashboard">
            <div class="container-fluid">
                <div class="row">
                    <partial name="_UserPanelSidebar" />
                    <div class="col-lg-9">
                        <div class="content-box" style="padding:40px 20px;">
                            <div class="row">
                                <div class="col-12">
                                    <div class="ui-boxs">
                                        <div class="ui-box">
                                            <div class="ui-box-item ui-box-white">
                                                <div class="ui-box-item-title">
                                                    <div class="row d-flex justify-content-between align-items-center">
                                                        <h4 class="col-9 fw-bold">
                                                            اطلاعات شخصی
                                                        </h4>
                                                        

                                                        <button id="edit-op" class="col-3 btn2">ویرایش</button>

                                                    </div>
                                                </div>
                                                <div class="ui-box-item-desc p-0">
                                                    <table class="table main-table shadow-none main-table-2">
                                                        <tr>
                                                            <td colspan="2">
                                                                <h6 class="text-muted">نام و نام خانوادگی</h6>
                                                                <p class="fw-bold mt-2">@Model.DispalyName</p>
                                                            </td>
                                                            <td colspan="2">
                                                                <h6 class="text-muted">شماره تلفن</h6>
                                                                <p class="fw-bold mt-2">@Model.PhoneNumber</p>
                                                            </td>
                                                        </tr>
                                                        
                                                        <tr>
                                                            <td colspan="2">
                                                                <h6>عضویت</h6>
                                                                <p class="fw-bold mt-2">@Model.RegisterTime </p>
                                                            </td>
                                                            
                                                        </tr>
                                                        
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end dashboard -->
    </div>
   
</section>

<section class="bottom section-padding">
    <div class="container">
        <div class="row">
           
            <div class="col-xl-5 col-sm-6 col-md-3">
                <div class="bottom-list">
                    <h3>Helpful Links</h3>
                    <ul>
                        <li>
                            <a href="18_Half_Map.html" title="">Half Map</a>
                        </li>
                        <li>
                            <a href="#" title="">Register</a>
                        </li>
                        <li>
                            <a href="#" title="">Pricing</a>
                        </li>
                        <li>
                            <a href="#" title="">Add Listing</a>
                        </li>
                    </ul>
                </div><!--bottom-list end-->
            </div>
            <div class="col-xl-5 col-sm-12 col-md-5 pl-0">
                <div class="bottom-desc">
                    <h3>Aditional Information</h3>
                    <p>
                        Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/assets/js/jquery-3.3.1.min.js"></script>
<script src="/assets/js/scripts.js"></script>

@section Scripts {
    <partial name="_ValidationScriptsPartial"></partial>
}