@using ServiceLayer.ViewModels.IdentityViewModels
@model NewPasswordViewModel
@{
    ViewData["Title"] = "NewPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .parent {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(5, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }

    .div1 {
        grid-area: 1 / 1 / 6 / 6;
    }

    .div2 {
        grid-area: 1 / 2 / 6 / 5;
        background-color:#f8f9fb;
        border-radius: 15px;
    }

    .div3 {
        grid-area: 2 / 2 / 5 / 5;
    }

    .div4 {
        grid-area: 3 / 3 / 4 / 4;
    }
</style>

<section class="cta section-padding">
    <div class="container">
    </div>
</section>


<section>

    <div class="parent">
        <div class="div1"> </div>
        <div class="div2 m-5 "> </div>
        <div class="div3 d-flex justify-content-center">
            <h3>رمز جدید </h3>
        </div>
        <div class="div4">
            <form method="post" asp-action="NewPassword">

                <div class="form-field">
                    <input type="hidden" asp-for=PhoneNumber value="@ViewBag.userphone" />
                </div>
                <div class="form-field">
                    <input asp-for=Password type="password" name="Password" placeholder="رمز جدید">
                    
                </div>



                <button type="submit" class="btn2">ویرایش</button>
            </form>
        </div>
    </div>

   

   
</section>

<section class="bottom section-padding">
    <div class="container">
        <div class="row">

            <div class="col-xl-5 col-sm-6 col-md-3">
                <div class="bottom-list">
                    <h3>Helpful Links</h3>
                    <ul>
                        <li>
                            <a href="18_Half_Map.html" title="">Half Map</a>
                        </li>
                        <li>
                            <a href="#" title="">Register</a>
                        </li>
                        <li>
                            <a href="#" title="">Pricing</a>
                        </li>
                        <li>
                            <a href="#" title="">Add Listing</a>
                        </li>
                    </ul>
                </div><!--bottom-list end-->
            </div>
            <div class="col-xl-5 col-sm-12 col-md-5 pl-0">
                <div class="bottom-desc">
                    <h3>Aditional Information</h3>
                    <p>
                        Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>


@section Scripts {
    <partial name="_ValidationScriptsPartial"></partial>
}