@using ServiceLayer.ViewModels.IdentityViewModels
@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "ForgotPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="body-form">
    <div class="container">
        <h1 class="ti-1">فراموشی رمز عبور</h1>
        <form method="post">

            <label class="la-1" for="code">شماره موبایل  :</label>
            <input asp-for="PhoneNumber" type="text" id="PhoneNumber" name="PhoneNumber" required>
            <button type="submit">ارسال کد تایید</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial"></partial>
}

