@using ServiceLayer.ViewModels.IdentityViewModels
@model RegisterViewModel
@{
    ViewData["Title"] = "RegisterByMobile";
     Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="body-form">
<div class="container">
    <form class="register-form" method="post" asp-action="RegisterByMobile">
        <h2>ثبت‌نام</h2>
        <div class="form-group">
            <label for="phoneNumber">شماره همراه</label>
            <input asp-for=PhoneNumber type="text" id="phoneNumber" name="phoneNumber" required minlength="11" maxlength="11">
            <span asp-validation-for="PhoneNumber" class="error-message">لطفا شماره همراه را وارد نمایید</span>
        </div>
        <div class="form-group">
            <label for="displayName">نام و نام خانوادگی</label>
            <input asp-for=DisplayName type="text" id="displayName" name="displayName" required minlength="4" maxlength="25">
            <span asp-validation-for="DisplayName" class="error-message">لطفا نام و نام خانوادگی را وارد نمایید</span>
        </div>
        <div class="form-group">
            <label for="password">رمز عبور</label>
            <input asp-for=Password type="password" id="password" name="password" required minlength="5" maxlength="20">
            <span asp-validation-for="Password" class="error-message">لطفا رمز عبور را وارد نمایید</span>
        </div>
        <div class="form-group">
            <label for="rePassword">تکرار رمز عبور</label>
            <input asp-for=RePassword type="password" id="rePassword" name="rePassword" required minlength="5" maxlength="20">
            <span asp-validation-for=RePassword class="error-message">کلمه عبور و تکرار یکی نیست</span>
        </div>
        <button type="submit">ثبت‌نام</button>
    </form>
        <p class="login-link">قبلاً ثبت‌نام کرده‌اید؟ <a asp-controller="Identity" asp-action="LoginByMobile">وارد شوید</a></p>
</div>

</div>


@section Scripts{
    <partial name="_ValidationScriptsPartial"></partial>
}
