@using ServiceLayer.ViewModels.IdentityViewModels
@model RsetPasswordViewModel
@{
    ViewData["Title"] = "RsetPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="body-form">
    <div class="container">
        <h1 class="ti-1">تایید کد</h1>
        <form method="post">

            <input asp-for="PhoneNumber" type="hidden" value="@ViewBag.PhoneNumber" />

            <label class="la-1" for="code">کد ارسال شده را وارد کنید  :</label>
            <input asp-for="Code" type="text" id="code" name="Code" required>

            <label class="la-1" for="code">رمز عبور  :</label>
            <input asp-for="Password" type="password" id="Password" name="Password" required>

            <label class="la-1" for="code">رمز عبور  :</label>
            <input asp-for="RePassword" type="password" id="RePassword" name="RePassword" required>

            <button type="submit"> تغییر رمز عبور</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial"></partial>
}
